*{
    padding:0;
    margin:0;
    font-family: "IBM Plex Sans", sans-serif;
}
body{
background-color: #f0f4f5;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:15px 147px;
    padding:30px;
}
nav ul{
    display: flex;
    list-style: none;
    gap:64px;
    
}
nav ul li a{
text-decoration: none;
font-size: 18px;
font-weight: 900;
color: #1e1e1e;
line-height: 24px;

}
a:hover{
    color:#20BC7E;
    cursor:pointer;
}
nav img{
    width:150px;
}
.hero-section{
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  
}
/* .right-hero-section img{
    width:150px;
} */
.left-hero-section{
    margin-left:181px;
    margin-top:120px;
}
.left-hero-section h1{
    font-size:62px;
    font-weight: 800;
}
.left-hero-section p{
    font-size: 16px;
    font-weight: 600;
    color: #7c7c7c;
    margin:20px 0;
}
.left-hero-section .pin-img{
    width:50%;
    top:170px;
position: absolute;
}
.left-hero-section button{
    max-width: 400px;
    padding: 12px 35px;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    background-color:#20BC7E;
    color: #f0f4f5;
    border:none;
    cursor: pointer;
}
button:hover{
    background: transparent;
    color:#1e1e1e;
}
.left-hero-section .bottom-img{
    margin-left: 329px;
}
.mouse-img{
    margin-left: 30px;
    margin-bottom: -35px;
    width: 25px;
    
}
.right-hero-section{
    position: relative;
}


.yellowBox{
    position:absolute;
    width:391px ;
    right:0;
    
}

.greenBox{
    position: absolute;
    width:501px;
    right: 0;
    top:-111px;

}
.doctor{
    position:absolute;
    bottom:0;
    right: 0;
    width:535px;
    top:-285px;
}
@media(max-width:600px){
    nav{
      display: flex; 
      justify-content: center;
      align-items: center;
      gap:154px;
    }
    nav ul li a{
font-size: 15px;
font-weight: 600;
margin-top: 30px;
    }
.hero-section{
    display: flex;
    justify-content: space-between;
    
}
.left-hero-section{

    margin-top: 25px;
    margin-left: 31px;
    
}
.left-hero-section h1{
    font-size: 20px;
}
.left-hero-section p{
    font-size: 7px;
}
.left-hero-section button{
max-width: 300px;
padding: 10px 15px;
border-radius: 20px;
text-align: center;
font-size: 14px;
font-weight: 500;



}
.left-hero-section .bottom-img{
/* margin-left: 329px; */
}

.left-hero-section .bottom-img{
    margin-left: 54px;
}
.mouse-img{
    margin-left: 12px;
    margin-bottom: -27px;
    width: 23px;
    
}
.right-hero-section{
    position: relative;
}


.yellowBox{
    position:absolute;
    width:232px ;
    right:0;
    
}

.greenBox{
    position: absolute;
    width:282px;
    right: 0;
    top:-55px;

}
.doctor{
    position:absolute;
    bottom:0;
    right: 0;
    width:300px;
    top:-164px;
}

}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
    margin-top: 144px;
}
.card{
    display:flex ;
    flex-direction: row;
    gap:30px;
}
.card>div{
    width:150px;
    height:60px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    text-align: center;
    padding:5px 10px;
       
}
.card>div>h1{
   font-size: 24px; 
   font-weight: 700;
   color: #20BC7E;
}
.card>div>p{
    font-size: 16px;
    font-weight: 900;
    
}
.info h1{
    font-size: 34px;
    color: #07925a;
    font-weight: 900;
}
.info .text-info{
    font-size:17px;
    font-weight: 500;
    

}
@media (max-width:600px){
    .info{
        margin-top: -55px;
    }
    .info h1{
        font-size:30px;
    }
    .info .text-info{
        font-size:12px;
    }
}
.contact-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height:85vh;
}
form{
    width:350px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
form h1{
    text-align: center;
  }
  form>div{
   display: flex;
   flex-direction: column;
  }
  form div label{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  form div input{
    border: transparent;
    border-radius: 10px;
    padding: 5px 10px;
  }

  form div textarea{
    resize: none;
    height: 100px;
    border: transparent;
    border-radius: 10px;
    padding: 5px 10px;
  }

  form button{
    border: transparent;
    border-radius: 10px;
    background: #20BC7E;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
  }
@media (max-width:600px){
.contact-page{
    margin-top:152px;
}
}
















































